@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: '';
	src: url('./MYRIADPROREGULAR.eot');
	src: local('MYRIADPROREGULAR'), url('./MYRIADPROREGULAR.woff') format('woff'), url('./MYRIADPROREGULAR.ttf') format('truetype');
}

.text-center {
	padding-bottom:30px;	
}



body {
	font-family: MYRIADPROREGULAR, Roboto, "Helvetica Nue", Helvetica, sans-serif;
	padding-bottom: 70px;
}

#sidebar-wrapper {
	background: #037CB7;
}
.sidebar-nav li {
	line-height: 100px;
}
.sidebar-nav li a, .sidebar-nav .sidebar-brand a,  .sidebar-nav .sidebar-brand a:hover{
	color:#FFF;
}
.sidebar-nav li a:hover {
	background: #026392;
}
#page-content-wrapper {
	padding:0;
}

#page-jumbo {
	background-color:#2C43AB;
	color:#FFF;
	margin:0;
}

#page-jumbo p {
	font-size: 27px;
}

#page-jumbo h1 {
	font-size:74px;
}

.section-heading {
	/*color: #037CB7;*/
	font-size:50px;
}

.section {
	padding: 50px 0;
}

.section-text {
	font-size: 22px;
	line-height: 34px;
	max-width:600px;
	font-weight: 100;
}

.section:nth-child(even) {
	background: #f7f7f7;
}

.column {
	padding-bottom: 30px;
}

.tooltip-image {
	position: relative;
}

.button {
	cursor: pointer;
	background: #039be5;
	border-radius: 100%;
	height:30px;
	width:30px;
	position:absolute;
}

.panel-title a {
	display:block;
}

.button.visited {
	background: #037CB7;
}

.button.active {
	background: #ff7f00;
}

#button1{
	bottom:55%;
	right:5%;
}
	
#button2{
	left:23%;
	top:4%;
}

#button3{
	bottom:22%;
	left:18%;
}

#button4{
	right:12%;
	top:8%;
}

.featuretext {

}

@media (max-width: 768px) {
	
.jumbo-img{
	margin: 0 auto;
}

}

@media (min-width: 768px) {
	.navbar {
		display: none;
	}
	
}